<!doctype html>
<html>

<head>
  <title>San Francsico Crime Visualization</title>
  <meta charset="utf-8">
  <link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet" />
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css"
    rel="stylesheet" />
</head>

<body>
  <div id="sidebar">
    <div id="container">
      <p>Vizualize crimes from 2003 to 2017 in a number of different crime
        categories. Select a different crime from the drop-down menu, and
        select a different year by moving the slider left or right.</p>
      <h3>Crime: <span id="crime">ROBBERY</span></h3>
      <input id="slider" type="range" min="2003" max="2017" step="1" value=2003 />
      <div class="chart-contaier"><svg id="linechart"></svg></div>
      <div class="chart-container"><svg id="barchart"></svg></div>
    </div>
  </div>
  <div id="map"></div>

  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js"></script>
  <script src="{{ url_for('static', filename='javascript/map.js') }}"></script>
</body>

</html>
