<!doctype html>
<html>

<head>
  <title>San Francsico Crime Visualization</title>
  <meta charset="utf-8">
  <link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet" />
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css"
    rel="stylesheet" />
</head>

<body>
  <div id="sidebar">
    <div class="container">
      <p>Vizualize crimes from 2003 to 2017 in a number of different crime
        categories. Select a different crime from the drop-down menu, and
        select a different year by moving the slider left or right.</p>
    </div>
    <hr>
    <div class="container">
      <p>Crime: <span id="crime">Robbery</span></p>
      <input id="slider" type="range" min="2003" max="2017" step="1" value=2003 />
    </div>
    <hr>
    <div id="linechart" class="container"></div>
    <hr>
    <div id="barchart" class="container"></div>
  </div>
  <div id="map"></div>

  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js"></script>
  <script src="{{ url_for('static', filename='javascript/map.js') }}"></script>
</body>

</html>
